---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #61dafb;
    background-image: linear-gradient(120deg, #0f4f61, #61dafb);
}

.highlight .err {
    color: inherit;
    background-color: inherit;
}

.site-footer {
    text-align: center;
}
