---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #E20A17;
    background-image: linear-gradient(120deg, #730d13, #E20A17);
}

.highlight .err {
    color: inherit;
    background-color: inherit;
}

.site-footer {
    text-align: center;
}
